{% extends 'base.html.twig' %}

{% block title %}{{ ouvrage.titre }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/ouvrages.css') }}">
{% endblock %}

{% block body %}
<div class="ouvrage-detail">
    <h1>{{ ouvrage.titre }}</h1>
    {% if ouvrage.auteurs is not empty %}
        <p>
            Auteur{% if ouvrage.auteurs|length > 1 %}s{% endif %} :
            {{ ouvrage.auteurs|join(', ') }}
        </p>
    {% else %}
        <p>Auteur inconnu</p>
    {% endif %}
    <p>Éditeur : {{ ouvrage.editeur }}</p>
    <p>Année de parution : {{ ouvrage.annee ? ouvrage.annee|date('Y') : '—' }}</p>
    <p>Langues : {{ ouvrage.langues|join(', ') }}</p>
    <p>Catégories : {{ ouvrage.categories|join(', ') }}</p>
    <p>Tags : {{ ouvrage.tags|join(', ') }}</p>
    <p>ISBN : {{ ouvrage.isbn }} / ISSN : {{ ouvrage.issn }}</p>
    <p>Disponible à l'emprunt : {{ isDisponible ? 'Oui' : 'Non' }}</p>
    <p>{{ ouvrage.resume }}</p>
    <nav>
        <button onclick="location.href='{{ path('app_ouvrage_exemplaires', {'id': ouvrage.id}) }}'" class="btn btn-primary">Voir les exemplaires</button>
        <button onclick="location.href='{{ path('app_ouvrages') }}'" class="btn btn-secondary">Retour à la liste des ouvrages</button>
        <button onclick="location.href='{{ path('app_ouvrage_edit', {'id': ouvrage.id}) }}'" class="btn btn-admin">Modifier l'ouvrage</button>
    </nav>
</div>
{% endblock %}