{% extends 'base.html.twig' %}

{% block title %}Modifier {{ ouvrage.Titre }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/ouvrages.css') }}">
{% endblock %}

{% block body %}
<div class="ouvrage-form">
    <h1>Modifier l'ouvrage</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Enregistrer</button>
            <a href="{{ path('app_ouvrage_detail', {'id': ouvrage.id}) }}" class="btn btn-secondary">Annuler</a>
        </div>
    {{ form_end(form) }}
</div>
{% endblock %}